<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894026970766-g6v64s1allcckq42q488a0kadur1r3a3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894026970766-g6v64s1allcckq42q488a0kadur1r3a3</string>
	<key>API_KEY</key>
	<string>AIzaSyAz7jBlKq38wk-i_xbY_g8pFQzWhWHX1Pw</string>
	<key>GCM_SENDER_ID</key>
	<string>894026970766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-projects-27840</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-projects-27840.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894026970766:ios:c1260fb6ce2f865bd3fbdf</string>
</dict>
</plist>